/* character images */
img {
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    border: 2px solid grey;
}

#header_image {
    height: 250px;
    width: auto;
    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: none;
}

.footer {
    text-align: right;
    padding-right: 20px;
    padding-top: 40px;
    color: rgba(231, 110, 110, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loading > img {
    border: none;   
}

.row {
    width: 100%;
    text-align: center;
}

body {
    background-color: black;
    background-image: url('http://x.annihil.us/u/prod/marvel/i/mg/8/b0/537ba702ad5b3.gif'); 
}

div {
    display: inline-block;
}

.marvel-container {
    display: block;
    background-image: url('http://x.annihil.us/u/prod/marvel/i/mg/8/b0/537ba702ad5b3.gif'); 
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 25px;
}

h4, h3, li {
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: White;
}
